[package]
name = "cyber_live_voice"
version = "0.4.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
libc = "0.2"
# We'll use this for clean string handling between Rust and the SDK
widestring = "1.1"